<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273771027897-jllink4e2ii9q0g84q5vluo1dg8i86oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273771027897-jllink4e2ii9q0g84q5vluo1dg8i86oc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>273771027897-dviilcpu6s7t4g845scmfa2n8tg4v2gd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSWcLEeEdH93l1s5sEq-sezBgnG0wnk2I</string>
	<key>GCM_SENDER_ID</key>
	<string>273771027897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.purple.purplerider</string>
	<key>PROJECT_ID</key>
	<string>purple-rider</string>
	<key>STORAGE_BUCKET</key>
	<string>purple-rider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273771027897:ios:38efe55a88ad95efeeea68</string>
	<key>DATABASE_URL</key>
	<string>https://purple-rider-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>